#header{
    width: 100%;
    height: auto;
}

.heading{
    margin: 2px;
}

.heading > h2{
    text-align: center;
    height: 50%;
    margin-bottom: 5px;
}

.inputContainer{
    margin: 2px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: baseline;
    border-radius: 5px;
    border: solid #6C63FF 1px;
}

.search > input{
    margin-left: 10px;
    padding: 2px;
    height: 1.5rem;
    width: 95%;
    background: none;
    border: none;
    color: #C3C1E5;
}

.search > input:focus{
    outline: none;
    border-color: initial;
}

.search > button{
    margin-top: 2px;
    margin-right: 5px;
    background: none;
    border: none;
    color: #6C63FF;
}

#dropdown{
    margin-left: 10px;
    height: 2rem;
    width: auto;
    background-color: #6C63FF;
    color: white;
    border-radius: 3px;
    font-size: 1rem;
    letter-spacing: 2px;
    border: none;
}

#mode{
    margin-left: 15px;
    height: 2rem;
    width: 2rem;
    background-color: #6C63FF;
    border: none;
    display: grid;
    place-items: center;
    color: white;
    border-radius: 5px;
}


